/* gst content styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #fefefe;
  color: #2e2e2e;
  line-height: 1.6;
}
.gst-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 10px 10px 10px 10px;
}
.gst-content {
  flex: 45%;
  max-width: 600px;
}
.gst-content h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #1a1a1a;
  margin-left: 5rem;
  margin-top: 2rem;
}
.gst-content h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #2b3c50;
  margin: 1rem 0;
  margin-left: 5rem;
}
.gst-content p {
  margin: 0.8rem 0;
  font-size: 1rem;
  margin-left: 5rem;
  margin-bottom: 2rem;
}
.gst-image{
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8rem;
  margin-top: 2rem;
  
}
.gst-image img{
  
  height: 500px;
  max-width: 550px;
  border-radius: 10px;
  
}

/*   image or pic */
.map img {
  width: 100%;
  height: 600px;
  margin: 10px 10px 10px 10px;
}

/*    why choose us */
.why-choose-us {
  background-color: #f0f0f0;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.why-choose-us h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #222;
}

.container {
  max-width: 1200px;
  
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.feature-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 20px;
  width: 300px;
}

.feature-box i {
  font-size: 40px;
  color: #0067AF;
  margin-bottom: 15px;
}

.feature-box h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.feature-box p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}




/*            */
.promo-section {
  background-color: #0067AF;
  padding: 40px 20px;
  text-align: center;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}



.promo-content h1 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 15px;
  line-height: 1.4;
}

.promo-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.promo-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.btn.orange {
  background-color: #f5a623;
  color: #fff;
  text-decoration: none;
  padding: 14px 28px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn.orange:hover {
  background-color: #d4881a;
}

.btn span {
  margin-left: 8px;
}

