body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
}
.contact-section {
  padding: 60px 30px;
}
.contact-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  gap: 60px;
  justify-content: space-between;
}
.contact-form, .contact-info {
  flex: 1;
  min-width: 300px;
  gap: 20px;
}

.contact-info{
    margin-left: 15px;
}
.contact-form h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}
.contact-form p {
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form input,
.contact-form textarea {
  padding: 12px 16px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contact-form button {
  background-color: #222;
  color: #fff;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}
.contact-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
.contact-info p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #222;
  line-height: 1.6;
}
.contact-info .note {
  font-size: 14px;
  color: #888;
}
.social-icons {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.social-icons a img{
  height: 45px;
  width: 45px;
}